.Profile-gift-analysis {
  background: #fff;
  padding: 20px 20px 30px;
  overflow: auto;
  margin-bottom: 16px;
}
.Profile-gift-analysis h4 {
  margin: 0;
  padding-top: 0;
  font-size: 14px;
  font-weight: 600 !important;
  width: 150px;
}
.Profile-gift-analysis p {
  color: #7c878e;
  margin: 30px 0 40px;
}
@media (max-width: 767px) {
  .Profile-gift-analysis p {
    margin: 40px 0 40px;
  }
}
.Profile-gift-analysis .gift-analysis-filters {
  text-align: right;
  margin-bottom: 20px;
}
.Profile-gift-analysis-source {
  display: inline-block;
  margin-top: 30px;
}
@media (max-width: 767px) {
  .Profile-gift-analysis-source {
    display: none;
  }
}
@media (min-width: 1200px) {
  .Profile-gift-analysis .pagination__wrapper {
    margin-top: 10px;
    display: inline-block;
    width: auto;
    float: right;
  }
}
.Profile-gift-analysis .Search-page__filters-year-wrapper,
.Profile-gift-analysis .Search-page__filters-cause-wrapper {
  display: inline-block;
  margin: 0 20px 0 0;
  padding-left: 50px;
  padding-bottom: 10px;
  vertical-align: top;
}
.fr .Profile-gift-analysis .Search-page__filters-year-wrapper,
.fr .Profile-gift-analysis .Search-page__filters-cause-wrapper {
  padding-left: 80px;
}
@media (max-width: 767px) {
  .Profile-gift-analysis .Search-page__filters-year-wrapper,
  .Profile-gift-analysis .Search-page__filters-cause-wrapper {
    float: left;
    display: none;
  }
}
.Profile-gift-analysis .Search-page__filters-year label {
  left: -40px;
}
.Profile-gift-analysis .Search-page__filters-cause label {
  left: -50px;
}
.fr .Profile-gift-analysis .Search-page__filters-cause label {
  left: -80px;
  width: 80px;
  top: 36px !important;
}
@media (max-width: 767px) {
  .Profile-gift-analysis .Search-page__filters-year,
  .Profile-gift-analysis .Search-page__filters-cause {
    width: 100% !important;
    height: 50px !important;
  }
}
@media (min-width: 768px) {
  .Profile-gift-analysis .Search-page__filters-year,
  .Profile-gift-analysis .Search-page__filters-cause {
    width: auto !important;
    min-width: 90px;
    margin-top: -14px !important;
    height: auto !important;
  }
}
.Profile-gift-analysis .Search-page__filters-year label,
.Profile-gift-analysis .Search-page__filters-cause label {
  color: #33383b !important;
  font-weight: 600;
  top: 46px !important;
}
@media (max-width: 767px) {
  .Profile-gift-analysis .Search-page__filters-year > div,
  .Profile-gift-analysis .Search-page__filters-cause > div {
    width: auto !important;
    max-width: 100px;
    float: right;
  }
}
.Profile-gift-analysis .Search-page__filters-year > div > div,
.Profile-gift-analysis .Search-page__filters-cause > div > div {
  font-weight: 600;
  width: auto !important;
  height: 36px !important;
  background: #fff !important;
  border: solid 1px #bfd0da !important;
  border-radius: 3px;
  font-size: 12px !important;
  padding-left: 10px;
}
.Profile-gift-analysis .Search-page__filters-year > div > div div,
.Profile-gift-analysis .Search-page__filters-cause > div > div div {
  line-height: 26px !important;
  height: auto !important;
}
.Profile-gift-analysis .Search-page__filters-year > div > div button,
.Profile-gift-analysis .Search-page__filters-cause > div > div button {
  top: -5px !important;
}
.Profile-gift-analysis .Search-page__filters-year > div > div button svg,
.Profile-gift-analysis .Search-page__filters-cause > div > div button svg {
  fill: #33383b !important;
}
.Profile-gift-analysis .gift_commentary {
  text-align: left;
}
.Profile-gift-analysis .Profile-page__filters-actions {
  display: inline-block;
}
.Profile-gift-analysis .Profile-page__filters-actions button {
  background-color: #bfd0da !important;
  border-radius: 3px !important;
  height: 38px !important;
  margin-left: 10px !important;
  top: -1px !important;
  min-width: 66px !important;
}
@media (max-width: 767px) {
  .Profile-gift-analysis .Profile-page__filters-actions button {
    margin: 15px 0 0 0 !important;
  }
}
.Profile-gift-analysis .Profile-page__filters-actions button:hover {
  background-color: #9badb7 !important;
}
.Profile-gift-analysis .Profile-page__filters-actions .Profile-page__filters-button-clear {
  background: none !important;
}
.Profile-gift-analysis .Profile-page__filters-actions .Profile-page__filters-button-clear:hover,
.Profile-gift-analysis .Profile-page__filters-actions .Profile-page__filters-button-clear:focus {
  background: none !important;
}
.Profile-gift-analysis .Profile-page__filters-gift-size-wrapper {
  display: inline-block;
  margin: 0 20px 0 0;
}
.Profile-gift-analysis .Profile-page__filters-gift-size-wrapper label {
  position: relative !important;
  top: 0 !important;
  color: #33383b !important;
  font-size: 12px !important;
  font-weight: 600;
  transform: none !important;
}
@media (max-width: 767px) {
  .Profile-gift-analysis .Profile-page__filters-gift-size-wrapper {
    margin: 15px 0 0;
    display: none;
  }
}
@media (min-width: 1200px) {
  .Profile-gift-analysis .Profile-page__filters-gift-size-wrapper {
    display: inline-block;
  }
}
.Profile-gift-analysis .Profile-page__filters-gift-size-wrapper small {
  font-weight: 600;
  font-size: 12px !important;
  margin: 0 10px;
}
.Profile-gift-analysis .Profile-page__filters-gift-size-from input {
  margin-left: 15px;
}
.Profile-gift-analysis .Profile-page__filters-gift-size-from,
.Profile-gift-analysis .Profile-page__filters-gift-size-to {
  min-width: 100px !important;
  width: auto !important;
  height: auto !important;
}
@media (max-width: 767px) {
  .Profile-gift-analysis .Profile-page__filters-gift-size-from,
  .Profile-gift-analysis .Profile-page__filters-gift-size-to {
    min-width: 90px !important;
  }
}
@media (max-width: 767px) {
  .Profile-gift-analysis .Profile-page__filters-gift-size-from,
  .Profile-gift-analysis .Profile-page__filters-gift-size-to {
    width: auto !important;
  }
}
@media (max-width: 767px) {
  .Profile-gift-analysis .Profile-page__filters-gift-size-from label,
  .Profile-gift-analysis .Profile-page__filters-gift-size-to label {
    top: 5px !important;
  }
}
.Profile-gift-analysis .Profile-page__filters-gift-size-from input,
.Profile-gift-analysis .Profile-page__filters-gift-size-to input {
  height: 38px !important;
  background: #fff !important;
  border: solid 1px #bfd0da !important;
  border-radius: 3px;
  font-size: 12px !important;
  padding: 0 10px !important;
  margin-top: 0 !important;
  width: 100px !important;
}
@media (max-width: 320px) {
  .Profile-gift-analysis .Profile-page__filters-gift-size-from input,
  .Profile-gift-analysis .Profile-page__filters-gift-size-to input {
    width: 80px !important;
  }
}
.Profile-gift-analysis .Profile-page__filters-gift-size-from input::placeholder,
.Profile-gift-analysis .Profile-page__filters-gift-size-to input::placeholder {
  color: #33383b !important;
  font-weight: 600;
}

.GiftAnalysisTable-RecepientName {
  font-weight: 600;
}
@media (min-width: 768px) {
  .GiftAnalysisTable-RecepientName {
    width: 200px !important;
  }
}
@media (min-width: 992px) {
  .GiftAnalysisTable-RecepientName {
    width: 200px !important;
  }
}
@media (min-width: 1200px) {
  .GiftAnalysisTable-RecepientName {
    width: 200px !important;
  }
}

@media (min-width: 768px) {
  .GiftAnalysisTable-Amount {
    width: 65px !important;
  }
}
@media (min-width: 992px) {
  .GiftAnalysisTable-Amount {
    width: 65px !important;
  }
}
@media (min-width: 1200px) {
  .GiftAnalysisTable-Amount {
    width: 65px !important;
  }
}

@media (min-width: 768px) {
  .GiftAnalysisTable-Year {
    width: 50px !important;
  }
}
@media (min-width: 992px) {
  .GiftAnalysisTable-Year {
    width: 50px !important;
  }
}
@media (min-width: 1200px) {
  .GiftAnalysisTable-Year {
    width: 50px !important;
  }
}

.GiftAnalysisTable-CharitySize {
  text-align: right !important;
  white-space: normal !important;
}
@media (min-width: 768px) {
  .GiftAnalysisTable-CharitySize {
    width: 100px !important;
  }
}
@media (min-width: 992px) {
  .GiftAnalysisTable-CharitySize {
    width: 100px !important;
  }
}
@media (min-width: 1200px) {
  .GiftAnalysisTable-CharitySize {
    width: 100px !important;
  }
}
.GiftAnalysisTable-CharitySize .GiftAnalysisTable-SortLabel {
  width: calc(100% - 12px);
  float: left;
}
.GiftAnalysisTable-CharitySize .GiftAnalysisTable-SortArrow {
  width: 10px;
  float: left;
}

.GiftAnalysisTable-DetailButton {
  text-align: right !important;
}
@media (min-width: 768px) {
  .GiftAnalysisTable-DetailButton {
    width: 45px !important;
  }
}
@media (min-width: 992px) {
  .GiftAnalysisTable-DetailButton {
    width: 45px !important;
  }
}
@media (min-width: 1200px) {
  .GiftAnalysisTable-DetailButton {
    width: 45px !important;
  }
}

.GiftAnalysisTable-SortLabel {
  float: left;
}

.GiftAnalysisTable-SortArrow {
  width: 10px;
  float: left;
}

.GiftAnalysisTable-SortArrow::after {
  content: '';
  clear: both;
  display: table;
}

.Profile-page-gift-data thead tr {
  border-bottom: 1px solid transparent !important;
}
.Profile-page-gift-data tr th {
  padding-left: 0 !important;
  vertical-align: top;
}
.Profile-page-gift-data tr th[data-selected='true'] {
  text-decoration: underline;
  cursor: pointer;
  color: #000000 !important;
}
.Profile-page-gift-data tr th[data-selected='false'] {
  text-decoration: underline;
  cursor: pointer;
  color: rgb(158, 158, 158);
}
.Profile-page-gift-data tr th img {
  width: 10px;
  height: auto;
  margin-left: 5px;
}
.Profile-page-gift-data td {
  padding: 5px 20px 5px 0 !important;
  height: 50px !important;
  white-space: initial !important;
}
.Profile-page-gift-data td:last-child button {
  text-align: right !important;
  padding-right: 0 !important;
}
.Profile-page-gift-data td:last-child button svg {
  color: #7c878e !important;
}

.Profile-gift-analysis-dialog h3 {
  font-size: 12px !important;
  font-weight: 600 !important;
  padding-top: 15px !important;
  padding-bottom: 0 !important;
}
.Profile-gift-analysis-dialog-modal-name {
  font-weight: 600;
  display: block;
  line-height: 1.4;
  margin-bottom: 10px;
}
.Profile-gift-analysis-dialog > div > div {
  max-width: 635px !important;
}
.Profile-gift-analysis-dialog div > div > div > div {
  font-size: 12px !important;
  line-height: 2;
  margin-right: 10px !important;
}
.Profile-gift-analysis-dialog div > div > div > div svg {
  fill: #7c878e !important;
}
.Profile-gift-analysis-dialog button {
  background-color: transparent !important;
  color: #4c9eff !important;
  margin-right: -10px !important;
}
