@import '../../base.scss';

.Pipeline__filters {
	position: relative;
	margin-top: -17px;
	display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
	flex-flow: column;
	-webkit-flex-flow: column;

	@media screen and (min-width: 1024px) {
		padding-right: 54px;
	}

	@media screen and (min-width: 768px) and (max-width: 1023px) {
		padding-right: 20px;
	}

	a {
		div div {
			padding: 5px !important;
		}
		&.selected {
			font-weight: 700 !important;
		}
	}
	.showArchivedState {
		& > div > div {
			padding: 10px !important;
		}
		&.selected {
			font-weight: bold !important;
		}
	}

	p {
		position: relative;
		margin-bottom: 0;

		button {
			min-width: 36px !important;
			position: absolute !important;
			right: 0 !important;
			top: -10px !important;

			span {
				color: $grey-dark;
				font-size: 12px !important;
				padding-right: 7px !important;
    		padding-left: 7px !important;
			}
		}
	}

	hr {
		margin: 15px 0;
	}


	.displayHidden {
		font-weight: bold;
	}
	small {
		font-weight: 600;
		font-size: 12px !important;
		margin: 5px 0 10px;

		span {
			font-weight: normal !important;
		}
	}
}