.login, .frlogin {
  background-color: #fff;
}
@media (max-width: 767px) {
  .login, .frlogin {
    height: 100vh;
  }
}
.login .container, .frlogin .container {
  padding: 0;
  max-width: 100%;
  width: 100%;
}
.login .container .Header-button, .frlogin .container .Header-button {
  position: absolute !important;
  right: 0;
  top: 10px;
}
@media (max-width: 767px) {
  .login .container, .frlogin .container {
    height: 100vh;
  }
}
@media (min-width: 768px) {
  .login .row, .frlogin .row {
    height: 100vh;
  }
}
.login .row .col-md-9, .frlogin .row .col-md-9 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 100vw;
  flex-basis: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .login .row .col-md-9, .frlogin .row .col-md-9 {
    width: auto;
    margin-left: 10%;
    justify-content: flex-start;
  }
}
.login .row .col-xs-12, .frlogin .row .col-xs-12 {
  position: relative;
  padding: 15px 30px;
}
@media (max-width: 767px) {
  .login .row .col-xs-12, .frlogin .row .col-xs-12 {
    background-image: none !important;
  }
}
.login h2, .frlogin h2 {
  font-size: 28px !important;
  color: #fff;
  text-align: center;
}
.login h3, .frlogin h3 {
  font-size: 21px !important;
  font-weight: 600 !important;
}
@media (max-width: 767px) {
  .login h3, .frlogin h3 {
    text-align: center;
  }
}
.login p, .frlogin p {
  font-size: 14px !important;
  color: #fff;
  text-align: center;
  padding-top: 20px;
}
@media (max-width: 767px) {
  .login__left, .login__imagine-logo, .frlogin__left, .frlogin__imagine-logo {
    display: none;
  }
  .login__imagine-logo-mobile, .frlogin__imagine-logo-mobile {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 768px) {
  .login__imagine-logo-mobile, .frlogin__imagine-logo-mobile {
    display: none;
  }
}
.login form.Login > div, .frlogin form.Login > div {
  display: block !important;
  width: 100% !important;
  height: 58px !important;
}
.login form.Login label, .frlogin form.Login label {
  font-size: 12px !important;
  color: #7c878e !important;
  top: 15px !important;
}
.login form.Login input, .frlogin form.Login input {
  border-radius: 3px;
  width: 460px !important;
  height: 47px !important;
  margin-top: 0 !important;
}
@media (max-width: 767px) {
  .login form.Login input, .frlogin form.Login input {
    width: 100% !important;
  }
}
.login form.Login button, .frlogin form.Login button {
  background-color: #ffc72c !important;
  display: block !important;
  height: 48px !important;
  width: 100%;
  margin-top: 15px !important;
}
.login form.Login button:hover, .login form.Login button:focus, .frlogin form.Login button:hover, .frlogin form.Login button:focus {
  background-color: #ffd86c !important;
}
.login .reset-password-link, .frlogin .reset-password-link {
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
}
.login .password_reset_dialog .message-danger, .frlogin .password_reset_dialog .message-danger {
  padding-top: 20px;
  color: #d0021b;
}
.login .password_reset_dialog .message-success, .frlogin .password_reset_dialog .message-success {
  color: #417505;
}

.Reset-password-page__facets-dialog .Login > * {
  margin-bottom: 10px;
}
.Reset-password-page__facets-dialog button.reset {
  background-color: #4c9eff !important;
  color: #fff !important;
  padding: 0 34px !important;
}
.Reset-password-page__facets-dialog button.reset:hover {
  background-color: #3b7bc8 !important;
}
.Reset-password-page__facets-dialog button.reset:disabled {
  background-color: #7c878e !important;
}

.reset-password-form > * {
  display: block !important;
}
.reset-password-form button {
  background-color: #4c9eff !important;
  color: #fff !important;
  padding: 0 34px !important;
  margin-top: 20px !important;
}
.reset-password-form button:hover {
  background-color: #3b7bc8 !important;
}

.login__left {
  width: 100%;
}
.login__left h2 {
  padding: 0 20px;
}
.login__left .paragraph {
  padding-right: 50px;
  padding-left: 50px;
}

.login--left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
