@import '../../base.scss';

.Search-page__filters {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	position: relative;

	small {
		font-weight: 600;
		font-size: 12px !important;
		margin: 0 10px;
		@include breakpoint(xxs) {
			margin: 0 5px 0 -3px;
		}

		span {
			font-weight: normal !important;
		}
	}

	&-language,
	&-requests,
	&-typical-from,
	&-typical-to,
	&-sorting {
		@include breakpoint(xs) {
			width: 100% !important;
			height: 50px !important;
		}

		@include breakpoint(sm-min) {
			width: auto !important;
			min-width: 138px;
		}

		label {
			color: $grey-darker !important;
			font-weight: 600;

			@include breakpoint(xs) {
				top: 46px !important;
			}

			@include breakpoint(sm-min) {
				top: 0px !important;
			}
		}

		> div {
			@include breakpoint(xs) {
				width: auto !important;
				max-width: 100px;
				float: right;
			}
		}

		> div > div {
			font-weight: 600;
			width: auto !important;
			height: 36px !important;
			background: #fff !important;
			border: solid 1px $grey-light !important;
			border-radius: 3px;
			font-size: 12px !important;
			padding-left: 10px;

			div {
				line-height: 26px !important;
			}

			button {
				top: -5px !important;

				svg {
					fill: $grey-darker !important;
				}
			}
		}
	}

	&-requests-wrapper {
		@include breakpoint(sm-min) {
			margin-left: 20px;
		}

		&:after {
			@include breakpoint(md-max) {
			content: "\A";
  		white-space: pre;
  		width: 220px;
  		display: inline-block;
  		}
		}
	}

	&-typical-wrapper {
		margin: 10px 0 0;

		@include breakpoint(xs) {
			margin: 15px 0 0;
		}

		@include breakpoint(lg-min) {
			margin: 0 0 0 20px;
		}
	}

	&-sorting-wrapper {
		@include breakpoint(xs) {

    	label {
    		display: none;
    	}

    	div {
    		margin-top: 0 !important;
    		width: 100% !important;
    		max-width: 100% !important;
    	}
  	}

		@include breakpoint(sm-min) {
			margin: 10px 0 0 20px;
		}

		@include breakpoint(lg-min) {
			position: absolute;
			right: 0;
			margin: 0;
		}

		.Search-page__filters-sorting {
			button {
				svg {
					fill: $grey-darker !important;
				}
			}
		}
	}

	&-typical-from,
	&-typical-to {
		min-width: 100px !important;
		@include breakpoint(xs) {
			min-width: 90px !important;
		}

		@include breakpoint(xs) {
			width: auto !important;
		}

		label {
			@include breakpoint(xs) {
				top: 5px !important;
			}
		}

		input {
			width: auto !important;
			height: 38px !important;
			background: #fff !important;
			border: solid 1px $grey-light !important;
			border-radius: 3px;
			font-size: 12px !important;
			padding: 0 10px !important;
			width: 100px !important;

			@include breakpoint(xxs) {
				width: 80px !important;
			}
		}

		input::placeholder {
			color: $grey-darker !important;
			font-weight: 600;
		}
	}

	&-menu-item {
		color: $grey-darker !important;
    border-bottom: 1px solid $grey-light !important;

    &.last {
      border: 0 none !important;
    }

		&:hover {
			background-color: #D9E3E9 !important;
		}
	}

	&-actions {
		display: inline-block;

		button {
			background-color: $grey-light !important;
			border-radius: 3px !important;
			height: 38px !important;
			margin-left: 10px !important;
			top: -1px !important;
			min-width: 66px !important;

			@include breakpoint(xs) {
				margin: 15px 0 0 0 !important;
			}

			&:hover {
				background-color: $grey !important;
			}
		}

		.Search-page__filters-button-clear {
			background: none !important;


			&:hover, &:focus {
				background: none !important;
			}
		}
	}
}

.Search-page__filters-mobile {
	background-color: $grey-lighter !important;
	padding: 20px 20px 20px 30px;

	@include breakpoint(xxs) {
		width: 260px !important;
	}

	@include breakpoint(xs) {
		z-index: 25000 !important;
	}

	.Search-page__filters-language-wrapper,
	.Search-page__filters-requests-wrapper {
		width: 100% !important;
	}

	.Search-page__facets {
		margin-top: 0;

		> div hr {
			display: none;
		}
	}
}

.Search-page__mobile-filters-button {
	background-color: #fff !important;
	border: solid 1px $grey-light !important;
	min-width: 68px !important;
	height:  38px !important;

	span {
		padding-left: 12px !important;
		padding-right: 12px !important;
	}

	&:hover {
		background-color: $grey-light !important;
	}
}

.fr {
	.Search-page__filters {
		&-language {
			@include breakpoint(sm-min) {
				min-width: 210px;
			}
		}

		&-requests {
			@include breakpoint(sm-min) {
				min-width: 180px;
			}
		}
	}
}
